h1 {
  color: blue;
  text-align: center;
  margin-top: 15px;
}

.logo-container {
  text-align: center;
  margin-top: 20px;
}

.clickable-logo {
  cursor: pointer;
  width: 150px;
  height: 150px;
  transition: transform 0.2s;
}

.clickable-logo:hover {
  transform: scale(1.1);
}

input {
  padding: 10px;
  width: 250px;
  font-size: 16px;
  margin-top: 10px;
}